{% extends "base.html" %}

{% block content %}

<div class="container text-center mt-5">

<h1 class="display-4">ManoDP</h1>

<p class="lead mt-3">
Smart E-Prescription System with Medicine Identification
</p>

<div class="mt-4">

<a href="/login" class="btn btn-primary btn-lg">
Start
</a>

<a href="/register" class="btn btn-outline-secondary btn-lg ms-2">
Register
</a>

</div>

<div class="mt-5">

<p><strong>Guided by:</strong> Mrs. E. ANUSUYA VASANTH M.E</p>

<p><strong>Team:</strong> B.VIGNESH | C.SELTON</p>

<p>CSE IV – 2025-2026</p>

</div>

</div>

{% endblock %}